<!DOCTYPE html>
<html>
  <% this.title = "Maximum Climbing: "+label %>
  <% include head.html.ejs %>
	<body>
    <img style="max-width: 200px;" class="cat-image" src="<%= image %>"/>
    <% this.catKey = key %>
    <% include navbar.html.ejs %>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Description</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
      <% products.forEach((p,i) => { %>
        <% if (p.category !== key) return %>
        <tr>
          <td>
            <a href="product-<%= i %>.html">
              <img style="max-width: 200px;" class="product-image" src="<%= p.image %>"/>
            </a>
          </td>
          <td>
            <a href="product-<%= i %>.html">
              <p><%= p.brand %></p>
              <p><%= p.description %></p>
            </a>
          </td>
          <td>
            $<%= p.price %>
          </td>
        </tr>
      <% }); %>
      </tbody>
    </table>
	</body>
</html>
